<div class="h-full flex justify-center items-center">
  <div
    class="flex flex-col w-100 gap-5 items-center mx-auto rounded-xl p-6 shadow-lg outline outline-black/5
dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
    <div>
      <h1 class="text-center text-3xl dark:text-white">Registration Completed!</h1>
    </div>
    <div class="dark:bg-slate-300 rounded-2xl w-full h-0.5"></div>
    <h1 class="text-center text-xl dark:text-white">
      You can now sign-in <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
                             class="text-blue-500">
      using this link</a></h1>
  </div>
</div>

